//! Web server library
#[link(name = "rwebserve", vers = "0.2", uuid = "00E58FAE-72B7-435F-88F4-0A7BD11CAF5C")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];

#[warn(non_camel_case_types)];
#[allow(implicit_copies)];
#[allow(deprecated_mode)];
#[allow(non_implicitly_copyable_typarams)];
#[allow(deprecated_pattern)];
#[allow(unused_imports)];
#[allow(structural_records)];

use std;
use mustache (name = "mustache", vers = "0.1");
use rparse (name = "rparse", vers = "0.6");
use socket (name = "socket", vers = "0.1");

mod configuration; 
mod connection;
mod http_parser;
mod imap;
mod request;
mod rwebserve;
mod server;
mod sse;
mod uri_template;
mod utils;
