//! Web server library
#[link(name = "rwebserve", vers = "0.2", uuid = "00E58FAE-72B7-435F-88F4-0A7BD11CAF5C")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];

#[forbid(unused_imports)];
#[forbid(implicit_copies)];
#[forbid(deprecated_pattern)];
#[allow(structural_records)];
#[allow(deprecated_mode)];	// TODO: enable some of these
#[allow(non_implicitly_copyable_typarams)];

extern mod std;
extern mod mustache (name = "mustache", vers = "0.1");
extern mod rparse (name = "rparse", vers = "0.6");
extern mod socket (name = "socket", vers = "0.1");

mod configuration; 
mod connection;
mod http_parser;
mod imap;
mod request;
mod rwebserve;
mod server;
mod sse;
mod uri_template;
mod utils;
