#[link(name = "rwebserve", vers = "0.1", uuid = "00E58FAE-72B7-435F-88F4-0A7BD11CAF5C")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];
#[doc = "Web server library"];

#[warn(no_non_implicitly_copyable_typarams, no_vecs_not_implicitly_copyable)];	// , no_old_vecs

use std;
use mustache (name = "mustache", vers = "0.1");
use rparse (name = "rparse", vers = "0.5");
use socket (name = "socket", vers = "0.1");

mod client;
mod configuration;
mod http_parser;
mod request;
mod server;
mod sse;
mod uri_template;
mod utils;
