//! Web server library
#[link(name = "rwebserve", vers = "0.1", uuid = "00E58FAE-72B7-435F-88F4-0A7BD11CAF5C")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];

#[warn(no_non_implicitly_copyable_typarams, no_vecs_not_implicitly_copyable)];

use std;
use mustache (name = "mustache", vers = "0.1");
use rparse (name = "rparse", vers = "0.5");
use socket (name = "socket", vers = "0.1");

mod configuration;
mod connection;
mod http_parser;
mod imap;
mod request;
mod server;
mod sse;
mod uri_template;
mod utils;
