//! Web server library
#[link(name = "rwebserve", vers = "0.2", uuid = "00E58FAE-72B7-435F-88F4-0A7BD11CAF5C")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];

#[forbid(unused_imports)];
#[forbid(implicit_copies)];
#[forbid(deprecated_pattern)];
#[allow(structural_records)];	// TODO: enable some of these
#[allow(deprecated_mode)];
#[allow(non_implicitly_copyable_typarams)];

extern mod std;
extern mod mustache (name = "mustache", vers = "0.3pre");
extern mod rparse (name = "rparse", vers = "0.6");
extern mod socket (name = "socket", vers = "0.1");

// TODO: don't think that all of these should be pub
pub mod configuration; 
pub mod connection;
pub mod http_parser;
pub mod imap;
pub mod request;
pub mod rwebserve;
pub mod server;
pub mod sse;
pub mod uri_template;
pub mod utils;
